button {
    font-family: Calibri, serif;
    border: 2px #424242 solid;
    border-radius: 12px;
    font-size: 30px;
    padding: 1.5rem 2rem;
    transition: all .3s;
    cursor: pointer;
    content: contents;
    width: 108px;
    height: 92px;
    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: scale(.98);
    }
}

#nuberPanel
{
    width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 30fr);
    padding-top: 10px;
    grid-gap: 2px;
}

input
{
    width: 315px;
    height: 50px;
    font-size: 35px;
    border: hidden;
    font-family: Calibri, serif;
}

#Calc {
    display: grid;
    border: 2px #424242 solid;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    margin: auto;
    box-shadow: 0 5px 10px;
    height: max-content;
}
#ViewerPanel
{
    display: grid;
    padding: 5px
;
}
label
{
    font-size: 35px;
    padding: 2px;
    text-align: right;
    font-family: Calibri, serif;
}